{% extends 'base.html.twig' %} {% block body %}

<h1>Chat example</h1>

<form action="{{ path('postMessage', { user: 1234 }) }}" method="POST">
  <input
    name="message"
    placeholder="Your message..."
    size="50"
    autocomplete="off"
  />
  <input type="submit" />
</form>

<div id="messages">
  No messages
</div>

<script>
  const url = new URL("http://localhost:3000/hub");
  url.searchParams.append("topic", "http://o-stan.fr/chat");
  const eventSource = new EventSource(url, { withCredentials: true });
  eventSource.onmessage = function(e) {
    console.log(e);
  };
</script>
{% endblock %}
