{% extends 'base.html.twig' %}
{% block title %}Messagerie
{% endblock %}
{% block body %}

    <h1>Messagerie</h1>

    <h2>Choissiez un utilisateur avec qui vous souhaitez discuter</h2>
    
    <select class="custom-select" onChange="window.location.href=this.value">
        <option selected>Utilisateurs:</option>
        {% for user in users %}
            <option value="{{ path('showmessagechat', {'id': user.id}) }}">{{user.username}}
            </option>
        {% endfor %}
    </select>

	<h2>Vos conversations: </h2>

{% endblock %}
{# {% block javascripts %}
<script>
  const url = new URL("http://localhost:3000/hub");
  url.searchParams.append("topic", "http://o-stan.fr/chat");
  const eventSource = new EventSource(url, { withCredentials: true });

  eventSource.onmessage = function(mercureReceiveEvent) {
    console.log(mercureReceiveEvent);
    const data = JSON.parse(mercureReceiveEvent.data);
    const messagesUl = document.querySelector("#messages ul");
    let newLi = document.createElement("li");
    newLi.innerHTML = data.message;
    messagesUl.appendChild(newLi);
  };

  const postMessageUrl = "{{ path('postMessage', { user: app.user.id }) }}";

  $("#message").on("submit", function(submitEvent) {
    submitEvent.preventDefault();
    console.log(postMessageUrl);

    const formData = new FormData(document.querySelector("#chatBox"));
    $.ajax({
      method: "POST",
      url: postMessageUrl,
      data: {
        message: formData.get("message")
      }
    });
  });
</script>
#}
{# {% endblock %} #}
