{% extends 'base.html.twig' %} {% block body %}

<h1>Chat example</h1>

{#
<form id="chatBox">
  <input
    name="message"
    placeholder="Your message..."
    size="50"
    autocomplete="off"
  />
  <input type="submit" />
</form>
#}

<ul>
  {% for user in users %}
    <li><a href="{{ path('showmessagechat', {'id': user.id}) }}">{{user.username}}</a></li>
  {% endfor %}
</ul>

{% endblock %} {# {% block javascripts %}
<script>
  const url = new URL("http://localhost:3000/hub");
  url.searchParams.append("topic", "http://o-stan.fr/chat");
  const eventSource = new EventSource(url, { withCredentials: true });

  eventSource.onmessage = function(mercureReceiveEvent) {
    console.log(mercureReceiveEvent);
    const data = JSON.parse(mercureReceiveEvent.data);
    const messagesUl = document.querySelector("#messages ul");
    let newLi = document.createElement("li");
    newLi.innerHTML = data.message;
    messagesUl.appendChild(newLi);
  };

  const postMessageUrl = "{{ path('postMessage', { user: app.user.id }) }}";

  $("#message").on("submit", function(submitEvent) {
    submitEvent.preventDefault();
    console.log(postMessageUrl);

    const formData = new FormData(document.querySelector("#chatBox"));
    $.ajax({
      method: "POST",
      url: postMessageUrl,
      data: {
        message: formData.get("message")
      }
    });
  });
</script>
#} {# {% endblock %} #}
