{% extends 'base.html.twig' %}

{% block title %}Ajouter une annonce
{% endblock %}

{% block content %}
    <h1 class="text-center font-weight-bold mb-5">Ajout d'une annonce</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form_start(form, {'attr':{'class':'form_add'}}) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary btn-send">Envoyer</button>
        {{ form_end(form) }}
        <a class="text-dark mt-4" href="{{ path('ad_post')}}">Revenir à la liste des annonces</a>
    {% endif %}    
    {% endblock %}
