{# templates/emails/registration.html.twig #}

<p>
	Bonjour
	<span style="font-weight: bold;">{{ firstname }} {{ lastname }}, </span>nous
	avons bien reçu votre demande. Cette dernière sera traitée sous un délai de
	72h par notre équipe !
</p>
<p>Voici votre message:</p>
<div style="margin-top: 20px; margin-bottom: 15px;">
	<p style="margin-top: 0px; margin-bottom: 0px;">
		{{ message }}
	</p>
</div>
<p>Nous vous souhaitons une belle journée, à bientôt !</p>
<p style="font-style: italic; font-size: 0.9em;">Lucie de O'Stan.</p>
