{# templates/emails/registration.html.twig #}

<p>
	Bonjour
	<span style="font-weight: bold;">{{ firstname }} {{ lastname }} </span>vous
	a contacté via le formulaire du site O'Stan
</p>
<div style="margin-top: 20px; margin-bottom: 15px;">
	<p style="margin-top: 0px; margin-bottom: 0px;">
		{{ message }}
	</p>
</div>
<p>Vous pouvez contacter cette personne à cette adresse: {{ mail }}</p>
